{% load static %}
    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="row">
            <div class="col">
                <img src="/logo.png" alt="Logo" class="logo">
                <p>Hello Guys we will going to guide you for your jee mains and jee advance.
                    It may help you to get the resources of previous year paper and question practice sets.
                </p>
            </div>
            <div class="col">
                <h3>Office <div class="underline"><span></span></div></h3>
                <p>ITPL Road</p>
                <p>Whitefield,Bangalore</p>
                <p>Karnataka,Pin ocde:302034</p>
                <p class="email">ce22b035@iittp.ac.in</p>
                <h4>+91-0123456789</h4>
            </div>
            <div class="col">
                <h3>Links <div class="underline"><span></span></div></h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About_us</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Contact_Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter <div class="underline"><span></span></div></h3>
                <form>
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="Enter your email id" required>
                    <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-whatsapp"></i>

                </div>
                
            </div>
        </div>
        <hr>
        <p class="copyright">Aatma Nirbhar ⓒ2024- All Rights Reserved</p>

    </footer>    
</body>
</html>